:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}


html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Rubik';
    background: linear-gradient(rgba(2, 2, 2, 0.8),rgba(2,4,1,0.49)) ;
}
img{
    width: 100%;
    display: block;
}

.container {
    margin-top: 0%;
    padding-bottom: 0%;
}

.container h2, p{
    color: aliceblue;
}
.about-right{
    display: flex !important;
    
    float: right;
}
.about-content{
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 15%;
    line-height: 3.8rem;
}
.moi{
    margin-top: 4em;
    margin-right: 1em;
    flex-grow: 1;
    flex-flow: row wrap;
    flex-direction: row;
}
.me{
    max-width: 400px;
    margin-top:4.5%;
    float: right;
    display: flex;
    margin-left: 3%;
    
}

.portfolio .title{
    color: aliceblue;
    text-align: center;
    padding-bottom: 4%;
    margin-left: 13%;

}
.portfolio{
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.portfolio-grid > div{
    transition: var(--transition);
}

.portfolio-grid > div:hover{
    transform: scale(0.96);
}
/* work */
#work{
    margin-top: 10%;
    color: var(--light-color);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}

.work-top a{
    display: flex;
    font-size: 300%;
    margin-left: 40% ;
}
.container .blink{
    text-align: center;
    background-color: white;

    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    
}
/*Carousel*/
.container #Site{
    text-align:start;
}


/* contact */

.contact-content{
    margin-top: 3rem;
    align-items: stretch;
    padding: 9rem 0 9rem 0;
}

.lead{
    align-items: center;
    justify-content: center;    
}


@supports (display: flex) {
    @media screen and (min-width: 10px) and (max-width:400px) {
        .container-fluid{
            
            flex-flow: row wrap;
            flex-direction: row;
        }
        .header-content h1{
            font-size: 2rem !important;
        }
    }


@media(min-width:576px){

    .title h2{
        font-size: 4rem;
    }
    .portfolio-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio-grid > div{
        height: 800px;
        overflow:visible;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit:cover;
    }
    .container #Site{
        text-align:center;
    }

}
@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content{
        
        column-gap: 6rem;
        row-gap: 0;
    }

}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
     }

}
}